---
layout: main
---

{% for post in paginator.posts %}
  <article class="post-content">
    {% if post.img %}
      <div class="featured-image">
        <a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">
          <img
            width="1024"
            height="576"
            src="{{ '/images/' | prepend: site.baseurl | append: post.img }}"
            class="attachment-nisarg-full-width size-nisarg-full-width wp-post-image"
            alt="{{ post.title }}">
        </a>
      </div>
    {% endif %}
    <header class="entry-header">
      <span class="screen-reader-text">{{ post.title }}</span>
      <h2 class="entry-title">
        <a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">
          {{ post.title }}
        </a>
      </h2>

      <div class="entry-meta">
        <h5 class="entry-date">{{post.date | date: '%B %e, %Y'}}</h5>
      </div><!-- .entry-meta -->
    </header><!-- .entry-header -->

    <div class="entry-summary">
      {{ post.excerpt }}
      <p class="read-more">
        <a class="btn btn-default" href="{{ post.url | prepend: site.baseurl }}">
          Read More<span class="screen-reader-text">Read More</span>
        </a>
      </p>
    </div><!-- .entry-summary -->

    <footer class="entry-footer">
    </footer><!-- .entry-footer -->
  </article><!-- #post-## -->
{% endfor %}