---
layout: main
---

<section id="search-results"></section>
{% raw %}
  <script id="search-results-template" type="text/template">
    <h1>Search Results</h1>
    {% if results.length != 0 %}
      {% for result in results %}
        {% assign page = store[result.ref] %}
        <article class="post-content">
          <header class="entry-header">
            <span class="screen-reader-text">{{ page.title }}</span>
            <h2 class="entry-title">
              <a href="{{ page.url | prepend:baseurl }}" rel="bookmark">{{ page.title }}</a>
            </h2>

            {% if page.date != "" %}
              <div class="entry-meta">
                <h5 class="entry-date">
                  <i class="fa fa-calendar-o"></i>
                  <a href="{{ page.url | prepend:baseurl }}">
                    {{ page.date | date: '%B %e, %Y' }}
                  </a>
                  <span class="byline">
                    <span class="sep"></span>
                    <i class="fa fa-user"></i>
                    <span class="author vcard">
                      <a
                        class="url fn n"
                        href="{{ baseurl }}/author/{{ page.author }}"
                        title="View all posts by {{ site.data.authors[page.author].name }}"
                        rel="author">
                        {{ site.data.authors[page.author].name }}
                      </a>
                    </span>
                  </span>
                  <i class="fa fa-comments-o"></i>
                  <span class="screen-reader-text">Comments </span>
                  <a href="{{ page.url | prepend:baseurl | append: '#respond' }}" class="comments-link">
                    Comments
                  </a>
                </h5>
              </div>
            {% endif %}
          </header>
        </article>
      {% endfor %}
    {% else %}
      <p>Nothing found.</p>
    {% endif %}
  </script>
{% endraw %}
