
<div class="post-navigation">
  <nav class="navigation" role="navigation">
    <h2 class="screen-reader-text">Post navigation</h2>
    <div class="nav-links">
      <div class="row">
        <!-- Get Next Post -->
        <div class="col-md-6 next-post">
          {% if page.next.url %}
            <a href="{{ page.next.url | prepend: site.baseurl }}">
              <span class="next-prev-text">
                <i class="fa fa-angle-left"></i>NEXT
              </span><br>
              {{ page.next.title }}
            </a>
          {% endif %}
        </div>

        <!-- Get Previous Post -->
        <div class="col-md-6 prev-post">
          {% if page.previous.url %}
            <a href="{{ page.previous.url | prepend: site.baseurl }}">
              <span class="next-prev-text">
                PREVIOUS<i class="fa fa-angle-right"></i>
              </span><br>
              {{ page.previous.title }}
            </a>
          {% endif %}
        </div>
      </div>
    </div><!-- .nav-links -->
  </nav><!-- .navigation-->
</div>
