---
layout: main
---

<article class="post-content full-content">
  {% if page.img %}
    <div class="featured-image">
      <img
        width="1024"
        height="576"
        src="{{ '/images/' | prepend: site.baseurl | append: page.img }}"
        class="attachment-nisarg-full-width size-nisarg-full-width wp-post-image"
        alt="{{ page.title }}">
    </div>
  {% endif %}
  <header class="entry-header">
    <span class="screen-reader-text">{{ page.title }}</span>
    <h1 class="entry-title">
      {{ page.title }}
    </h1>

    <div class="entry-meta">
      <h5 class="entry-date">
        <i class="fa fa-calendar-o"></i>
        <a href="{{ page.url | prepend: site.baseurl }}">{{page.date | date: '%B %e, %Y'}}</a>
        <span class="byline">
          <span class="sep"></span>
          <i class="fa fa-user"></i>
          <span class="author vcard">
            <a
              class="url fn n"
              href="{{ '/author/' | prepend: site.baseurl | append: page.author }}"
              title="View all posts by {{ site.data.authors[page.author].name }}"
              rel="author">
              {{ site.data.authors[page.author].name }}
            </a>
          </span>
        </span>
        <i class="fa fa-comments-o"></i>
        <span class="screen-reader-text">Comments </span>
        <a href="{{ page.url | prepend: site.baseurl | append: '#respond' }}" class="comments-link">
          Comments
        </a>
      </h5>
    </div><!-- .entry-meta -->
  </header><!-- .entry-header -->

  <div class="entry-content">
    {{ page.content | markdownify }}
  </div><!-- .entry-content -->

  <footer class="entry-footer">
  </footer><!-- .entry-footer -->
</article><!-- #post-## -->

<div class="post-navigation">
  <nav class="navigation" role="navigation">
    <h2 class="screen-reader-text">Post navigation</h2>
    <div class="nav-links">
      <div class="row">
        <!-- Get Next Post -->
        {% if page.next.url %}
          <div class="col-md-6 next-post">
            <a href="{{ page.next.url | prepend: site.baseurl }}">
              <span class="next-prev-text">
                <i class="fa fa-angle-left"></i>NEXT
              </span><br>
              {{ page.next.title }}
            </a>
          </div>
        {% endif %}

        <!-- Get Previous Post -->
        {% if page.previous.url %}
          <div class="col-md-6 prev-post">
            <a href="{{ page.previous.url | prepend: site.baseurl }}">
              <span class="next-prev-text">
                PREVIOUS<i class="fa fa-angle-right"></i>
              </span><br>
              {{ page.previous.title }}
            </a>
          </div>
        {% endif %}
      </div>
    </div><!-- .nav-links -->
  </nav><!-- .navigation-->
</div>
